.tablist {
  display: flex;
  justify-content: space-around;
  margin-left: 12px;
  height: 55px;
  position: fixed;
  right: 0;
  left: 205px;
  top: 61px;
  background-color: white;
  border-bottom: 1px solid gray;
  align-items: center;
  z-index: 104;
}
li {
  display: inline-block;
  margin: 0px 4px;
  background-color: rgb(228, 228, 228);
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  transition: background-color 0.15s;
  cursor: pointer;
}
li:hover {
  background-color: rgb(207, 207, 207);
}
.all {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0px 4px;
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
}
.top-list {
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
  margin-right: 30px;
}
.next-icons,
.previous-icons {
  height: 20px;
  background-color: white;
  padding: 12px 6px;
}
.next-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}
.previous-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0;
}
.next-icon .tooltip,
.previous-icon .tooltip {
  position: absolute;
  top: 45px;
  background-color: rgba(216, 216, 216, 0.5);
  z-index: 102;
  padding: 4px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.next-icon:hover .tooltip,
.previous-icon:hover .tooltip {
  opacity: 1;
}
