.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.video-img {
  width: 100%;
}
.video-layer {
  position: relative;
}
.video-img-timer {
  position: absolute;
  bottom: 9px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 3px 5px;
  font-size: 15px;
}

.video-profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 23px;
  object-fit: cover;
}
.profile-tooltip {
  position: relative;
  cursor: pointer;
}
.profile-tooltip:hover .profile-tooltip-info {
  opacity: 1;
}

.profile-tooltip-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: white;
  z-index: 102;
  padding: 10px;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.tooltip-text h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
.tooltip-text p {
  margin-top: 0px;
  margin-bottom: 0;
  color: gray;
}

.video-body {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}
.video-info {
  margin-left: 10px;
}
.video-info p {
  margin-bottom: 0;
  margin-top: 2px;
  color: gray;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
.video-info h5 {
  margin-bottom: 10px;
  margin-top: 0;
}
.video-info a {
  color: black;
  text-decoration: none;
}
.video-info a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.video-info a:active {
  color: purple;
}
.live {
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 3px;
}
@media screen and (min-width: 0px) and (max-width: 549px) {
  .video-container {
    grid-template-columns: 1fr;
  }
  .sidebar-container2 {
    opacity: 0;
  }
  .menuoff {
    display: none;
  }
  .leftside-header {
    flex: 1;
  }
  .rightside-header {
    flex: 1;
  }
  .menuon {
    display: block;
  }
  .middleside-header {
    margin-right: 0;
    margin-left: 10px;
  }
  .search-bar::placeholder {
    opacity: 0;
  }
  .search-bar {
    border: none;
    width: 0;
    margin-left: 15px;
  }
  .close {
    display: none;
  }
  .search-button {
    background: none;
    padding: 0;
    margin: 0;
    width: 20px;
    border: none;
  }

  body {
    margin-right: 15px;
    margin-left: 5px;
    padding-left: 6px;
  }
  .top-list {
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .previous-icon {
    opacity: 1;
  }

  .sidebar-container2 {
    display: block;
  }
  .icon {
    height: 20px;
  }
  .profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    object-fit: cover;
  }

  .voice-search-button {
    width: 30px;
    background: none;
    margin-bottom: 4px;
  }
  .youtube-logo {
    height: 15px;
  }
  .tablist {
    left: 0px;

    margin-left: 0;
  }
}

@media screen and (min-width: 550px) and (max-width: 849px) {
  .video-container {
    grid-template-columns: 1fr 1fr;
  }
  .menuoff {
    display: none;
  }
  .leftside-header {
    flex: 1;
  }
  .rightside-header {
    flex: 1;
  }
  .menuon {
    display: block;
  }
  .middleside-header {
    margin-right: 0;
    margin-left: 10px;
  }
  .search-bar::placeholder {
    opacity: 0;
  }
  .search-bar {
    border: none;
    width: 0;
  }
  .close {
    display: none;
  }
  .search-button {
    background: none;
    padding: 0;
    margin: 0;
    width: 20px;
    border: none;
  }

  body {
    margin-right: 15px;
    margin-left: 70px;
    padding-left: 20px;
  }
  .top-list {
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .previous-icon {
    opacity: 1;
  }

  .sidebar-container2 {
    display: block;
  }
  .tablist {
    left: 62px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1080px) {
  body {
    margin-right: 15px;
    margin-left: 70px;
    padding-left: 20px;
  }
  .video-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .top-list {
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .previous-icon {
    opacity: 1;
  }

  .sidebar-container2 {
    display: block;
  }
  .tablist {
    left: 62px;
  }
  .menuoff {
    display: none;
  }
  .menuon {
    display: block;
  }
}
@media screen and (min-width: 1081px) {
  .sidebar-container2 {
    display: none;
  }
}
